.app {
    display: grid;
    grid-template-columns: 350px 1fr;
    height: 100vh;
    overflow: hidden;
}

@media (max-width: 768px) {
    .app {
        grid-template-columns: 1fr;
    }

    .app.groupSelected .sidebar {
        display: none;
    }

    .app:not(.groupSelected) .notesPanel {
        display: none;
    }
}