:root {
  /* Color palette from design */
  --color-violet: #B38BFA;
  --color-pink: #FF79F2;
  --color-turquoise: #43E6FC;
  --color-orange: #F19576;
  --color-blue: #0047FF;
  --color-dark-blue: #6691FF;
  --color-navy: #001F8B;
  
  /* UI colors */
  --color-grey-light: #F5F5F5;
  --color-grey-medium: #CCCCCC;
  --color-grey-dark: #666666;
  --color-white: #FFFFFF;
  --color-black: #000000;
  
  /* Typography */
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
}
